# =========================
# ENVIRONNEMENT PYTHON
# =========================
dgbvenv/
venv/
env/
.venv/
IAenv/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# DJANGO
# =========================
db.sqlite3
staticfiles/

# =========================
# SECRETS / VARIABLES
# =========================
.env

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# MACHINE LEARNING
# =========================
*.pkl
*.joblib
*.h5
*.keras

# =========================
# DATASETS
# =========================
datasets/

# =========================
# WINDOWS
# =========================
Thumbs.db
Desktop.ini

# =========================
# FICHIERS TEMPORAIRES
# =========================
*.tmp
*.temp

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/